.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.border-box {
  border: 1px;
  border-style: solid;
  border-color:white;
}

.header-title {
  border: 1px;
  border-style: solid;
  border-color: white;
  margin: 1em;
  padding: 1em;
}

.create-post {
  width: 90%;
  border: 2px;
  border-style: solid;
  border-color: grey;
  position: relative;
  margin: 1em;
  border-radius: 12px;
  box-shadow: 5px 10px #888888
}

.username-post {
  border: 1px;
  border-style: solid;
  border-color: white;
  margin: 1em;
  padding: 1em;
}

.button-create {
  border: 1px;
  border-style: solid;
  border-color: white;
}

/* .create-form {
  border: 1px;
  border-style: solid;
  border-color: rgb(255, 0, 221);
  margin: 1em;
  padding: 1em;
} */

